.title {
    color: rgba(233, 90, 8, 1);
}

.sub-title {
    color: rgba(137, 135, 161, 1);
}

.txt-size {
    font-size: 30px;
}


/* Header Styles */
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px 0px 150px;
}

.nav-bar {
    display: flex;
    gap: 48px;
}

.nav-bar-anchor {
    display: flex;
    gap: 48px;

}

.nav-bar-anchor a {
    text-decoration: none;
}

.nav-bar-anchor-color1 {
    color: rgba(37, 36, 50, 1);
}

/* container-1 */
.container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 30px 150px 0px 150px;
    justify-content: space-between;
}

.container-1-txt-size {
    height: 299px;
    width: 570px;
}

/* container-2 */
.container-2 {
    padding: 30px 150px;
}

.btn-primary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(233, 90, 8, 1);
    padding: 19px 80px;
    width: 270px;
    height: 50px;
    border: none;
}

.txt-20USD {
    color: rgba(17, 17, 17, 1);
    font-weight: bold;
}

.txt-align {
    text-align: center;
}

.container-2-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-around;
    width: 1500px;
    padding-top: 20px;
}



/* Small Media Responsive */
@media screen and (max-width: 576px) {

    /* Header style */
    .nav-bar-anchor {
        display: none;
        padding: 0px;
    }

    .header-flex {
        padding: 0px;
    }

    /* container-1 */
    .container-1 {
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .div1 {
        order: 2;
        width: 550px;
    }

    .div2 {
        order: 1;
        width: 550px;
    }

    /* container-2 */
    .container-2 {
        padding: 10px;
    }
    .container-2-image{
        grid-template-columns: repeat(2,1fr);
        width: 300px;
        gap: 5px;
    }
   
   
}